* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
}

.logo {
    font-family: cursive;
    font-size: 25px;
    color: #8946A6!important;
}

.logo-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 20px;
}

.bg-color {
    background-color: white;
}

.logo-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 170px;
}

.nav-text {
    font-weight: bolder;
}

.nav-margin {
    margin-left: 100px;
}

.nav-color {
    font-size: 18px;
    color: #8946A6!important;
    font-weight: bolder;
}

.nav-color:hover {
    color: #FF87CA!important;
    text-decoration: underline;
    transition: 0.6s;
}

.dp a {
    color: #8946A6!important;
    font-weight: bold;
}

.dp :hover {
    background-color: #8946A6!important;
    color: white!important;
    font-weight: bold;
}

.header-box {
    background-color: #8946A6;
    color: white!important;
    border: 4px solid #8946A6;
    width: 190px;
    height: 330px;
}

.header-box1 {
    background-color: #8946A6;
    color: white!important;
    border: 4px solid #8946A6;
    width: 190px;
    height: 330px;
}

.header-box2 {
    background-color: #8946A6;
    color: white!important;
    border: 4px solid #8946A6;
    width: 290px;
    height: 330px;
}

.h-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 40%;
    margin-top: 20%;
}

.header-p {
    font-size: 15px;
    font-family: cursive;
}

.h-image1 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 23%;
    margin-top: 33%;
}

h4 {
    font-weight: bold;
}

.bg-info {
    background-image: url(../media/antic.jpg);
    background-size: cover;
    width: 100vw;
    height: 130vh;
    position: relative;
    background-repeat: no repeat;
    background-attachment: fixed;
}

.update {
    margin-left: 50%;
    width: 50vw;
    height: auto;
    margin: 12vh auto;
    padding: 4vh;
    background-color: azure;
    border-radius: 10%;
    color: rebeccapurple;
    position: absolute;
    top: 15%;
    left: 25%;
}

hr {
    border: 2px solid #8946A6;
}

.c_link {
    color: blue;
    padding: 35px;
    text-decoration: none;
    font-size: 40px
}

.c_link:hover {
    color: blue;
    font-weight: bolder;
    text-decoration: none;
}

.l_icon {
    font-size: 48px;
    color: white;
}

.l_icon2 {
    color: black;
    font-size: 48px;
}

.l_icon4 {
    color: #D10000;
    font-size: 48px;
}

.l_icon1 {
    color: #000080;
    margin-right: 40px;
    font-size: 48px;
}

.l_icon3 {
    color: #0000FF;
    font-size: 48px;
}

.links {
    margin-left: 420px;
    ;
}

.connect {
    text-align: center;
    color: #8946A6;
    margin-top: 50px;
}

.new {
    font-weight: bold;
    text-align: center;
    color: rgb(255, 118, 117);
    font-size: 20px;
}

footer {
    background-color: #FFBDE6;
    /*background-color:  #F473B9;*/
    width: 100%;
    height: 150px;
    margin-top: 50px;
}

.logo-text {
    color: #8946A6;
    font-weight: bold;
}

.f-text {
    font-size: 22px;
}